[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "insectecol"]
	path = insectecol
	url = https://github.com/seaghost-0/insectecol
